*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.Logo{
    width: 92%;
    border-radius: 15px;
    margin: 10px;
    margin-top: 30px;
    display: block;
    position: top;

}
.barra_lateral{
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #083AA9;
    overflow-x: hidden;
}
.barra_lateral a{
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    height: 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    padding-top: 7.78px; /* Para separar un poco del logo si lo deseas */
}
.Cerrar{
    display: block;
    color: #fff;
    padding-top: 101px;
    font-size: 20px;
    align-content: bottom;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.barra_lateral a:hover{
    color:#083AA9;
    background-color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.barra_lateral a.activo {
    background-color: #fff;
    color: #083AA9;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.Publicaciones{
    margin-left: 340px;
    margin-top: 40px;
    color: #083AA9;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.busqueda {
  display: flex;
  align-items: center;
  margin-left: 340px;
  margin-top: 17px;
}
.busqueda p{
  padding-right: 10px;
  font-size: 40px;
}
.busqueda button {
  color: black;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid #8090cd;
  border-radius: 0 8px 8px 0;
  border-left: none;
  height: 42px;
  background-color: #fff;
  width: 50px;
}
.busqueda input[type="text"] {
  padding: 10px;
  font-size: 16px;
  color: #04339b;
  width: 230px;
  border: 2px solid #8090cd;
  border-radius: 8px 0 0 8px;
  outline: none;
  border-right: none;
}
.busqueda ::placeholder{
    color: #04339b;
}
.busqueda button.Filtro{
    border: none;
    font-size: 27px;
}
.menu-filtros {
    display: none;
    position: fixed;
    top: 137px;
    left: 350px;
    z-index: 100;
    background-color: #ffffff;
    border: 2px solid #8090cd;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    width: 280px;
    flex-direction: column;
    gap: 10px;
}
.fila-filtro{
    color: #04339b;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}
.menu-filtros input[type="text"] {
    flex-grow: 10;                 
    padding: 6px 10px;
    border: 1px solid #8090cd;
    border-radius: 20px;
    border-width: 2px;
    font-size: 14px;
    color: #04339b;
    box-sizing: border-box;
}.menu-filtros input[type="a"] {
    flex-grow: 10;                 
    padding: 6px 10px;
    border: 1px solid #8090cd;
    border-radius: 20px;
    font-size: 14px;
    border-width: 2px;
    color: #04339b;
    box-sizing: border-box;
    width: 120px;
}
.Circulo {
    all:unset;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: fixed;
    border-style: solid;
    border-width: 2px;
    border-color: #8090cd;
    cursor: pointer;
    padding: 0;
    margin-left:70px;
    margin-top: 124px;
}
.Circulo.activa {
    background-color: #083AA9;
}

.estrella {
    position: fixed;
    font-size: 30px;
    color: transparent;           /* texto sin color */
    -webkit-text-stroke: 2px #083AA9; /* borde dorado */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left:240px;
    margin-top: 20px;
}
.estrella.activa {
    color: #083AA9; /* color al activarse */
}
.Caracteristica{
    font-weight: bold;
}
.Ubicacion{
    position: fixed;
    background-color: #fff;
    border-color: #04339b;
    border-style: solid;
    border-width: 1px;
    width: 180px;
    height:35px;
    margin-left:10px;
    margin-top: 25px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.Detalles_Publicacion{
    position: fixed;
    background-color: #083AA9;
    border-color:#4d72ea;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height:35px;
    margin-left:280px;
    margin-top: 25px;
    border-radius: 5px;
    padding-top: 7px;
}
.Detalles_Publicacion a{
    color:#fff;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}
.Cartu{
    position:absolute;
    margin-left: 300px;
    border-style: solid;
    border-color:#39568a;
    border-radius: 3px;
    border-width: 2px;
}
.Post_1{
    position:fixed;
    background-color: #e7f1fd;
    margin-left: 340px;
    border-color: #8090cd;
    top: 160px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    height: 185px;
    width: 390px;
}
.Post_1 article p{
    color:#083AA9;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.Post_2{
    position:fixed;
    border-color: #8090cd;
    background-color: #e4e9fc;
    margin-left: 67%;
    top: 160px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    height: 185px;
    width: 390px;
}
.Post_2 article p{
    color:#083AA9;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.Post_3{
    position:fixed;
    background-color: #e7f1fd;
    margin-left: 340px;
    border-color: #8090cd;
    top: 400px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    height: 185px;
    width: 390px;
}
.Post_3 article p{
    color:#083AA9;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.Post_4{
    position:fixed;
    border-color: #8090cd;
    background-color: #e4e9fc;
    margin-left: 67%;
    top: 400px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    height: 185px;
    width: 390px;
}
.Post_4 article p{
    color:#083AA9;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}